<div id="planner-details-window-content">
    <div id="plan-details-misc">
        <p id="plan-details-used-alg">Használt algoritmus:&nbsp;<strong>Dijkstra</strong></p>
        <p id="plan-details-calc-time">Számítási idő:&nbsp;<strong>1</strong>&nbsp;s</p>
        <p id="plan-details-start-time">Tervezett indulási időpont:&nbsp;<time>2014-05-02 17:12</time></p>
        <p id="plan-details-route-length">Ajánlott útvonal hossza:&nbsp;<strong>25</strong>&nbsp;perc <em>(12 megálló, kb. 4,7 km)</em></p>
    </div>

    <fieldset id="plan-details-fs">
        <legend>Részletes Útiterv</legend>
        <table id="plan-details-table">
            <tr class="plan-detail-step">
                <td class="route-table-cell">
                    <p>Gyalog</p>
                </td>
                <td class="trip-table-cell">
                    <table class="trip-details">
                        <tr>
                            <td>
                                <time>17:12</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="plan-detail-step">
                <td class="route-table-cell">
                    <span class="route-logo" style="background: #00D900; color: #FFFFFF; font-size: 16px; width: 42px;">
                        <div>
                            <div class="route-logo-content">
                                <div>
                                    M4
                                </div>
                            </div>
                        </div>
                    </span>
                    <p>Metró</p>
                </td>
                <td class="trip-table-cell">
                    <table class="trip-details">
                        <tr>
                            <td>
                                <time>17:20</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás M</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <time>17:20</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás M</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <time>17:20</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás M</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <time>17:20</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás M</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="plan-detail-step">
                <td class="route-table-cell">
                    <span class="route-logo" style="background: #00D900; color: #FFFFFF; font-size: 16px; width: 42px;">
                        <div>
                            <div class="route-logo-content">
                                <div>
                                    M4
                                </div>
                            </div>
                        </div>
                    </span>
                    <p>Metró</p>
                </td>
                <td class="trip-table-cell">
                    <table class="trip-details">
                        <tr>
                            <td>
                                <time>17:20</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás M</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <time>17:20</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás M</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <time>17:20</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás M</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <time>17:20</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás M</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="plan-detail-step">
                <td class="route-table-cell">
                    <span class="route-logo" style="background: #00D900; color: #FFFFFF; font-size: 16px; width: 42px;">
                        <div>
                            <div class="route-logo-content">
                                <div>
                                    M4
                                </div>
                            </div>
                        </div>
                    </span>
                    <p>Metró</p>
                </td>
                <td class="trip-table-cell">
                    <table class="trip-details">
                        <tr>
                            <td>
                                <time>17:20</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás M</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <time>17:20</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás M</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <time>17:20</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás M</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <time>17:20</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás M</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="plan-detail-step">
                <td class="route-table-cell">
                    <p>Gyalog</p>
                </td>
                <td class="trip-table-cell">
                    <table class="trip-details">
                        <tr>
                            <td>
                                <time>17:12</time>
                            </td>
                            <td>
                                <p class="tooltip" data-tooltip="Sajt">Kelenföld vasútállomás</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
