<fieldset id="plan-summary">
    <legend>Útiterv</legend>

    <div class="time-with-label">
        <span>Indulás:</span>
        <time>17:20</time>
    </div>

    <div class="route-section-infos">
        <div class="route-section-info">
            <span class="route-section-info-route">
                <span class="route-logo" style="background: #00D900; color: #FFFFFF; font-size: 16px; width: 42px;">
                    <div>
                        <div class="route-logo-content">
                            <div>
                                M4
                            </div>
                        </div>
                    </div>
                </span>
            </span>
            <span class="route-section-info-section">
                <div class="route-section-info-section-start">Kelenföld vasútállomás</div>
                <div class="route-section-info-section-end">Móricz Zsigmond körtér</div>
            </span>
        </div>

        <div class="route-section-info">
            <span class="route-section-info-route">
                <span class="route-logo" style="background: #FFFF26; color: #000000; font-size: 16px; width: 42px;">
                    <div>
                        <div class="route-logo-content">
                            <div>
                                6
                            </div>
                        </div>
                    </div>
                </span>
            </span>
            <span class="route-section-info-section">
                <div class="route-section-info-section-start">Móricz Zsigmond körtér</div>
                <div class="route-section-info-section-end">Corvin Negyed</div>
            </span>
        </div>

        <div class="route-section-info">
            <span class="route-section-info-route">
                <span class="route-logo" style="background: #0000FF; color: #FFFFFF; font-size: 16px; width: 42px;">
                    <div>
                        <div class="route-logo-content">
                            <div>
                                M3
                            </div>
                        </div>
                    </div>
                </span>
            </span>
            <span class="route-section-info-section">
                <div class="route-section-info-section-start">Corvin Negyed</div>
                <div class="route-section-info-section-end">Határ út</div>
            </span>
        </div>
    </div>

    <div class="time-with-label">
        <span>Érkezés:</span>
        <time>17:45</time>
    </div>

    <div id="plan-summary-buttons">
        <button type="button" id="plan-summary-details">Részletes terv</button>
    </div>
</fieldset>
