@{
    ViewBag.Title = "Útvonaltervezés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="planner-settings-dialog" title="Beállítások">
    @Html.Partial("_PlannerSettings")
</div>

<div id="planner-details-dialog" title="Terv részletei">
    @Html.Partial("_PlanDetails")
</div>

@section sidebar {
    <div>
        <div>
            @Html.Partial("_PlannerInputs")
        </div>
    </div>
}

@section scripts {
    @Html.Partial("_ScriptOfPlannerInputs")
}