@model TransitPlannerWeb.ViewModels.RouteBadgeModel

<span class="route-logo" style="background: #@Html.Raw(Model.BadgeBackgroundColor); color: #@Html.Raw(Model.BadgeLabelColor); font-size: @Html.Raw(Model.FontSize)px; width: @Html.Raw(Model.BadgeSize)px;">
    <div>
        <div class="route-logo-content">
            <div>
                @Html.Raw(Model.BadgeLabel)
            </div>
        </div>
    </div>
</span>