@model TransitPlannerWeb.ViewModels.RouteBadgeModel

<span class="route-logo" style="background: #00D900; color: #FFFFFF; font-size: 16px; width: 42px;">
    <div>
        <div class="route-logo-content">
            <div>
                M4
            </div>
        </div>
    </div>
</span>