@model TransitPlannerWeb.ViewModels.AdminBaseModel
@{
    ViewBag.Title = "Hiba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="whattodo">@Html.Raw(Model.ErrorMessage)</h2>

@section sidebar {
    @Html.Partial("_AdminSidebar", Model)
}