@model TransitPlannerWeb.ViewModels.AdminBaseModel
@{
    ViewBag.Title = "Adminisztráció";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="whattodo">Kérlek válassz az oldalsó menüpontok közül!</h2>

@section sidebar {
    @Html.Partial("_AdminSidebar", Model)
}