@model TransitPlannerWeb.ViewModels.BaseModel
@{
    ViewBag.Title = "Bejelentkezés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ErrorCode == TransitPlannerWeb.ViewModels.TuszErrorCode.NO_ERROR)
{
    <h2 class="whattodo">Kérlek jelentkezz be!</h2>
}
else if (Model.ErrorCode == TransitPlannerWeb.ViewModels.TuszErrorCode.LOGIN_ERROR)
{
    <h2 class="whattodo">Sikertelen bejelentkezés.</h2>
}
else
{
    <h2 class="whattodo">Ismeretlen hiba. Próbáld később.</h2>
}
@using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { id = "login", @class = "table-style" }))
{
    <div class="table-style">
        <div class="table-row-style">
            <label class="table-cell-style" for="username">Felhasználónév:</label>
            <input class="table-cell-style" type="text" name="username" />
        </div>
        <div class="table-row-style">
            <label class="table-cell-style" for="username">Jelszó:</label>
            <input class="table-cell-style" type="password" name="password" />
        </div>
    </div>
    <div class="form-buttons">
        <button type="submit" id="login-button" name="ok">Bejelentkezés</button>
    </div>
}

@section sidebar {
    @Html.Partial("_AdminSidebar", Model)
}