<div id="browser-dropdown">
    <ul>
        <li>
            <div>
                Kelenföld vasútállomás felé<br />
                <em>(10 megálló)</em>
            </div>
            <ul>
                <li>
                    <a href="#">Kelenföld vasútállomás felé<br />
                        <em>(10 megálló)</em>
                    </a>
                </li>
                <li>
                    <a href="#">Kelenföld vasútállomás felé<br />
                        <em>(10 megálló)</em>
                    </a>
                </li>
                <li>
                    <a href="#">Kelenföld vasútállomás felé<br />
                        <em>(10 megálló)</em>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
