<div class="enumeration-of-routes">
    <div class="route-section-info">
        <span class="route-section-info-route">
            <img src="img/badge_template_48.png" alt="M4" />
        </span>
        <span class="route-section-info-section">
            <div class="route-section-info-section-start">
                <a href="#">Keleti pályaudvar / Kelenföld vasútállomás</a>
            </div>
            <div class="route-section-info-section-end">12-19 megálló</div>
        </span>
    </div>

    <div class="route-section-info">
        <span class="route-section-info-route">
            <img src="img/badge_template_48.png" alt="M4" />
        </span>
        <span class="route-section-info-section">
            <div class="route-section-info-section-start">
                <a href="#">Keleti pályaudvar / Kelenföld vasútállomás</a>
            </div>
            <div class="route-section-info-section-end">12-19 megálló</div>
        </span>
    </div>

    <div class="route-section-info">
        <span class="route-section-info-route">
            <img src="img/badge_template_48.png" alt="M4" />
        </span>
        <span class="route-section-info-section">
            <div class="route-section-info-section-start">
                <a href="#">Keleti pályaudvar / Kelenföld vasútállomás</a>
            </div>
            <div class="route-section-info-section-end">12-19 megálló</div>
        </span>
    </div>

    <div class="route-section-info">
        <span class="route-section-info-route">
            <img src="img/badge_template_48.png" alt="M4" />
        </span>
        <span class="route-section-info-section">
            <div class="route-section-info-section-start">
                <a href="#">Keleti pályaudvar / Kelenföld vasútállomás</a>
            </div>
            <div class="route-section-info-section-end">12-19 megálló</div>
        </span>
    </div>
</div>
