<table class="list-of-route-stops">
    <tbody>
        <tr>
            <td class="interval-of-departure">0. perc</td>
            <td class="stop-counter-parent"><span class="stop-counter">1</span><span class="stop-connector" /></td>
            <td class="link-to-stop">@Html.ActionLink("Keleti pályaudvar", "BrowseTimetable", new { id = 0 })</td>
        </tr>
        <tr>
            <td class="interval-of-departure">1-2. perc</td>
            <td class="stop-counter-parent"><span class="stop-counter">2</span><span class="stop-connector" /></td>
            <td class="link-to-stop">@Html.ActionLink("Keleti pályaudvar", "BrowseTimetable", new { id = 0 })</td>
        </tr>
        <tr>
            <td class="interval-of-departure">2-3. perc</td>
            <td class="stop-counter-parent"><span class="stop-counter">3</span><span class="stop-connector" /></td>
            <td class="link-to-stop">@Html.ActionLink("Keleti pályaudvar", "BrowseTimetable", new { id = 0 })</td>
        </tr>
        <tr>
            <td class="interval-of-departure">5-7. perc</td>
            <td class="stop-counter-parent"><span class="stop-counter">15</span></td>
            <td class="link-to-stop">@Html.ActionLink("Keleti pályaudvar", "BrowseTimetable", new { id = 0 })</td>
        </tr>
    </tbody>
</table>
