<table class="timetable">
    <tbody>
        <tr>
            <td class="timetable-when"><time>6:00</time>&nbsp;után</td>
            <td class="enumeration-of-times">:00, :10, :20, :30, :40, :50</td>
        </tr>
        <tr>
            <td class="timetable-when"><time>6:00</time>&nbsp;után</td>
            <td class="enumeration-of-times">:00, :10, :20, :30, :40, :50</td>
        </tr>
        <tr>
            <td class="timetable-when"><time>6:00</time>&nbsp;után</td>
            <td class="enumeration-of-times">:00, :10, :20, :30, :40, :50</td>
        </tr>
        <tr>
            <td class="timetable-when"><time>6:00</time>&nbsp;után</td>
            <td class="enumeration-of-times">:00, :10, :20, :30, :40, :50</td>
        </tr>
        <tr>
            <td class="timetable-when"><time>6:00</time>&nbsp;után</td>
            <td class="enumeration-of-times">:00, :10, :20, :30, :40, :50, :10, :20, :30, :40, :50, :10, :20, :30, :40, :50, :10, :20, :30, :40, :50, :10, :20, :30, :40, :50, :10, :20, :30, :40, :50, :10, :20, :30, :40, :50, :10, :20, :30, :40, :50</td>
        </tr>
        <tr>
            <td class="timetable-when"><time>6:00</time>&nbsp;után</td>
            <td class="enumeration-of-times">:00, :10, :20, :30, :40, :50</td>
        </tr>
        <tr>
            <td class="timetable-when"><time>6:00</time>&nbsp;után</td>
            <td class="enumeration-of-times">:00, :10, :20, :30, :40, :50</td>
        </tr>
    </tbody>
</table>
